/*             General          */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

span {
  color: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/*          Header              */
.fundamental-header {
  border-bottom: 1px solid #e7e9fc;
}

.options {
  display: flex;
  flex-direction: row;
}

.guid {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.navigation {
  display: flex;
  gap: 40px;
}

.navigation .link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.navigation .link:hover {
  color: #404bbf;
}

.navigation .link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-links {
  display: flex;
  gap: 40px;
  margin-left: 332px;
}

.address-links .link {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.address-links .link:hover {
  color: #404bbf;
}

.address-links .link:focus {
  color: #404bbf;
}

/*                Main               */

.main-header {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("/images/people-office.jpg");
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 188px 0;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.page-name {
  max-width: 496px;
  max-height: 120px;
  margin: 0 auto;
}

.buy {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 48px auto auto;
}

.buy:hover,
:focus {
  background-color: #404bbf;
}

/* Section 2 */
.about-us {
  padding: 120px 0;
}

.about {
  display: flex;
  gap: 24px;
}

.about-item {
  width: calc((100% - 72px) / 4);
}

.our-act {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-act-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3, 4 */

.list {
  display: flex;
  gap: 24px;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.member {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.full-name {
  padding: 32px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.profile {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.port {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-port {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-item {
  width: calc((100% - 48px) / 3);
}

.apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

/*     Footer    */
footer {
  background-color: #2e2f42;
  color: #fff;
  padding: 100px 0;
}

.logo-b {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-bot {
  color: #f4f4fd;
}

.agitation {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
